<div class="flyntComponent componentSpacing {{ options.theme }}" id="{{ sectionTitle|e }}" is="marquee" style="background-color: {{ backgroundColor|e }};">
  <div class="container">
    <div class="marquee">
        <div class="marquee--inner" aria-hidden="true">
            {% if sectionTitle %}
                <span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span>
                <span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span>
                <span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span>
                <span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span>
                <span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span>
                <span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span>
                <span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span><span>{{ sectionTitle|e }}</span>
            {% endif %}
        </div>
    </div>
  </div>
</div>