<div class="flyntComponent componentSpacing {{ options.theme }} {{ options.card ? 'layoutCard' }}" is="flynt-list-article">
  <div class="container centerMaxWidthContainer">
    <ul class="grid grid--columns{{ options.columns }}">
      {% for item in items %}
        {% if item.contentHtml %}
          <li class="grid-item">
            <div class="content">
              {% if item.title %}
                <h2 class="content-title">{{ item.title|e }}</h2>
              {% endif %}
              {% if item.contentHtml %}
                <div class="content-inner">
                  {{ item.contentHtml|e('wp_kses_post') }}
                  {% if item.linkText and item.linkUrl %}
                    <a class="content-link" href="{{ item.linkUrl|e }}" target="_blank"><img src="/wp-content/uploads/2021/03/arrow-right.svg">{{ item.linkText|e }}</a>
                  {% endif %}
                </div>
              {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
